.profileIconContainer{
    background-color: inherit;
}
.profileIconContainer .btn{
    /* background-color: inherit; */
    --bs-btn-bg:inherit;
}

.profileIconDiv{
    width: 13%;
    height: 80%;
}

.dropMenu{
    z-index: 4;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100px;
    justify-content: center;
    /* align-items: center; */
}